body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  background-color: black;
  height: 1200px;
}

img {
  width: 100%;
  position: relative;
}

.App {
  text-align: center;
  color: white;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.banner {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  background-color: #060c1e;
  padding: 10px;
}

.homepage {
  background: black;
  height: 100%;
}

.menu-icon {
  align-self: center;
  font-size: 15vw;
  /* background-color: #4d01019a; */
}

.title {
  font-size: 15vw;
}


/* Nav  */

/* Homepage */

/* MainStory */
.main-story {
  /* display: none; */
  position: relative;
  background-color: black;
  /* border-bottom: 1px solid gray; */
  /* padding-bottom: 1rem; */
  /* margin-bottom: 1rem; */
  margin-top: 10px;
  /* border: 1px solid green; */
}

.tag {
  /* border: 1px solid red; */
  background-color: #0e1c46;
  padding: 5px 10px;
  /* margin-top: 7px; */
  position: absolute;
  z-index: 1;
  left: 10px;
  top: -12px;
  text-transform: uppercase;
  font-size: .7rem;
}

span {
  padding: 5px;
  /* border: 1px solid red; */
}

.image {
  /* position: absolute; */
  /* border: 1px solid yellow; */
  background-color: black;
}

.credit {
  position: absolute;
  z-index: 1;
  bottom:112px;
  right: 5px;
  font-weight: 500;
  font-size: .7rem;
}

.headline-author {
  margin-top: .5rem;
  /* border-bottom: 1px solid pink; */
  /* border-width: 12rem; */
  /* display: block; */
  /* z-index: 1; */
  /* position: absolute; */
  text-align: left;
  margin-left: 1.5rem;
  padding-bottom: 1rem;
  /* margin-bottom: 1rem; */
  width: 90%;
}

.headline {
  font-size: 1.5rem;
  margin-bottom: .2rem;
}

.mini-type {
  /* color: salmon; */
  /* position: absolute; */
  left: 0;
  top: 10;
}

.mini-story {
  margin-bottom: 1rem;
}

.mini-headline {
  font-size: .88rem;
}

.mini-author {
  color: salmon;
  font-weight: 100;
  font-size: .78rem;
  margin-top: .4rem;
}

.author {
  font-weight: 100;
  text-transform: uppercase;
  font-size: .7rem;
  color: salmon;
  width: 70px;
}

.first-line {
  width: 300px;
  border-top: 1px solid rgb(11, 29, 66);
  height: 5px;
  margin-left: 25px;
}

.line {
  width: 200px;
  border-top: 1px solid rgb(27, 59, 91);
  height: 5px;
}

/* Next Section */
.next-section {
  background-color: black;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
